<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>Geef de titel in aub.</p>
        <input v-model="titel">
        <p>Geef de prijs in aub.</p>
        <input v-model="prijs">
        <p>Geef het aantal stuks in aub.</p>
        <input v-model="aantal">
        <p>Voor {{ aantal }} stuk(s) van het boek {{ titel }}, tegen een kostprijs van {{ prijs }}, betaal je
            {{ aantal * prijs }} </p>
    </div>

    <script>

        const app = {

            data() {
                return {
                    titel: '',
                    prijs: '',
                    aantal: ''
                }
            }
        }

        Vue.createApp(app).mount('#app')

    </script>

</body>

</html>